{% extends 'main/base.html' %}

{% block body %}

    {% for f,v in restaurant.get_data.items %}
        {{ f }}: {{v}} <br>
    {% endfor %}

    <h2> Reviews </h2>

    <ul>

        {% for review in restaurant.review_set.all %}

            <li> <a onclick="window.open('{% url 'review' id=review.pk %}', 
                '', 
                'width=300,height=250'); 
                return false;"
                href="{% url 'review' id=review.pk %}"> {{ review.title }} - {{ review.get_stars }} </a> </li>

        {% endfor %}

    </ul>

    {% if success %}
        <p> Restaurant review Added </p>
    {% endif %}

    <h2> Add Review </h2>

    <form action="" method="POST">
        
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Submit</button>

    </form>

{% endblock %}