{% extends 'main/base.html' %}

{% block body %}

<h1 align=center> Restaurants </h1>

<div class="dropdown">
        <button class="dropbtn">Sort By</button>
        <div class="dropdown-content">
          <a href="{% url 'restaurants' %}?filter=a2z&reverse=0">a2z Asc</a>
          <a href="{% url 'restaurants' %}?filter=a2z&reverse=1">a2z Desc</a>
          <a href="{% url 'restaurants' %}?filter=rating&reverse=0">rating Asc</a>
          <a href="{% url 'restaurants' %}?filter=rating&reverse=1">rating Desc</a>
        </div>
      
<pre>






  
</pre>
<h2 align='center'>List Of Restaurants</h2>
<ul align='center'>
    {% for restaurant in qs %}
   <li> <a href="{% url 'restaurant' id=restaurant.pk %}"> {{ restaurant.name }} </a> </li>


    {% endfor %}
</ul>
{% endblock %}